@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* @font-face {
	font-family: "Inter-Regular";
	src: url(./fonts/Inter-Regular.ttf);
} */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

header,
footer,
main {
	width: 100%;
	display: flex;
}

.header {
	justify-content: space-between;
}

h1,
a,
p {
	color: #000;
	font-family: Inter;
}

.container {
	max-width: 1174px;
	width: 100%;
}

.navigation {
	margin-top: 40px;
	margin-bottom: 84px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24%;
	width: 100%;
}

.menuLinks {
	padding: 10px 0px;
	display: flex;
	align-items: flex-start;
	gap: 14px;
	white-space: nowrap;
}

.menuLinks__homeLink {
	color: #f25822;
}

h1 {
	line-height: 120%; /* 72px */
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
	align-self: stretch;
}
p {
	color: #888;
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 32px;
	align-self: stretch;
}

.mainContent {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 73px;
}

.mainContent__leftSide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	max-width: 556px;
}

.mainContent__leftSide-btnList {
	display: flex;
	align-items: center;
	gap: 48px;
	align-self: stretch;
}

.mainContent__leftSide-filledBtn {
	border-radius: 56px;
	background: #f25822;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	width: 140px;
	padding: 16px 10px;
	gap: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

.mainContent__leftSide-unfilledBtn {
	color: #aaa;
	font-size: 16px;
	font-weight: 600;
	border: none;
	background: transparent;
	cursor: pointer;
}

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 48px;
	margin-bottom: 100px;
}
